html {
  font-family: sans-serif;
}

body {
  background-color: #212121;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wrapper {
  text-align: center;
  width: 90%;
  max-width: 450px;
  padding: 20px;
  background-color: #474747;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
  margin-bottom: 10px;
  background-color: #161616;
  padding: 10px;
  border-radius: 5px;
}

form {
  margin-top: 20px;
}

#guess {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

#guessField {
  width: 80%;
  max-width: 250px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 3px solid #6c6d6d;
  border-radius: 8px;
  margin-bottom: 20px;
}

#subt {
  background-color: #161616;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.resultParas {
  margin-top: 20px;
  font-size: 16px;
}

.guesses,
.lastResult {
  background-color: #7a7a7a;
  padding: 7px;
  border-radius: 4px;
  display: inline-block;
}

.lowOrHi h2 {
  margin-top: 15px;
}

.button {
  background-color: #161616;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}
